.siderbar {
  background-color: #484848;
  height: 100%;
  padding: 30px 0px 10px 10px;
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  flex-direction: column;
  height: 100px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.name {
  margin-top: 10px;
  margin-bottom: unset;
  cursor: pointer;
  color: #fff1dc;
}
.Menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  cursor: pointer;
  padding-left: 20px;
  color: #ffb347;
}
.link:hover {
  background-color: #2c2c2c;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #ffb347;
}
.iconLink {
  padding-right: 10px;
}

.hide {
  display: none;
}
